__pycache__
.ipynb_checkpoints
drafts
logs
#**.mp4
**.engine
videos_out
test.ipynb
services
myenv
Dockerfile
web.py
**env**
Dockerfile
test.ipynb
yolo8venv
configs/entry_exit_lanes.json
configs/zones1.json
test_videos/sample.mp4
test_videos/test_video.mp4
weights/yolov5n.pt
weights/yolov5s.pt
weights/yolov8s.pt
weights/yolov8m_int8_openvino_model
